/*enlace letra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color:#fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient: linear-gradient(#fe5b3d,#ffac38);

}

 html::-webkit-scrollbar {
    width:0.5rem;
 }

 html::-webkit-scrollbar-track {
    background: transparent;
 }

 html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
 }
 section {
    padding: 50px 100px;
 }

 .header {
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #eeeff1;
   padding: 15px 100px;
}

.logo img {
   width: 400px;
}

 .header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
 }
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(./img/carro.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
 }

 .text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
 }

 .text span {
    color: var(--main-color);
 }

.text p {
    margin: 00.5rem 1rem;
 }

 .form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background:#fff;
    padding: 20px;
    border-radius: 0.5rem;

 }

 .input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
 }

 .input-box input {
    padding: 7px; 
    outline: none; 
    border: none; 
    background:#eeeff1; 
    border-radius: 0.5rem; 
    font-size: 1rem;
 }
 .form-container form .btn {
   flex: 1 1 7rem;
   padding: 10px 34px;
   border: none;
   border-radius: 0.5rem;
   background: #474fa0;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
 }

 .form-container form .btn:hover {
   background: var(--main-color);
 }

 .services-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(800px, 800px));
   gap: 1rem;
   margin-top: 2rem;
   justify-content: end;
   
}
.services h2 {
   font-size: 2rem; /* Tamaño de fuente */
   color: var(--main-color); /* Color del texto */
   margin-bottom: 1rem; /* Espaciado inferior */
   text-align: center; /* Alineación del texto */
   /* Otros estilos según sea necesario */
}


/* Estilo  de la caja */
.box {
   border: 1px solid #ddd; /* Agrega un borde sólido */
   padding: 10px; /* Añade el relleno interno */
   margin: 10px;  /* Añade margen */
   border-radius: 1rem; /* Agrega borde para la esquina sea redonda */
   display: flex; /* Utilizar un diseño de caja flexible */
   flex-direction: column; /* Organiza en columnas */
   align-items: center; /* Centra horizontalmente */
   text-align: center; /* Centra el texto horizontalmente */
 }

/* Estilo para las imágenes dentro de la caja */
 .box img {
   width: 100%; /* Establecer el ancho de la imagen  */
   height: 100%; /* Establecer la altura de la imagen */
   border-radius: 1rem; /* Agrega  borde para esquinas redondeadas */
   padding: 8px; /* Añade relleno alrededor de la imagen */
   object-fit: cover;  /*ajusta la imagen a la caja */
   object-position: center; /* Centra la imagen  */
   margin-bottom: 10px; /* Espacio entre la imagen y la información */
 }

 /* Estilo para la paginación */
 .paginacion {
   display: flex; /* Muestra los elementos de la lista en línea */
   list-style: none; /* Eliminar los marcadores de lista */
   padding: 0; /* Eliminar el relleno de la lista */ 
   justify-content: center; /* Centrar la paginación horizontalmente */
 }

 /* Estilo para los elementos de la lista de paginación */
 .paginacion li {
   margin: 0 5px; /*Añade la margen para separar cada elemento de paginación */
   cursor: pointer; /* Establecer el cursor como puntero */
   
 }
/* Estilos para el popup */
.popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 
 .popup-table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 10px;
 }
 
 .popup th, .popup td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
 }
 
 /* Estilos para la imagen dentro del popup */
 .popup img {
   width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
   height: auto; /* Mantiene la proporción original de la imagen */
   display: block;
   margin: 0 auto; /* Centra la imagen horizontal y verticalmente */
   margin-bottom: 10px; /* Espaciado inferior para separar la imagen del resto de la tabla */
 }
 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
 
