/*enlace letra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color:#fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient: linear-gradient(#fe5b3d,#ffac38);

}

 html::-webkit-scrollbar {
    width:0.5rem;
 }

 html::-webkit-scrollbar-track {
    background: transparent;
 }

 html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
 }
 section {
    padding: 50px 100px;
 }

 .header {
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #eeeff1;
   padding: 15px 100px;
}

.logo img {
   width: 400px;
}

 .header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
 }
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(./img/carro.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
 }

 .text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
 }

 .text span {
    color: var(--main-color);
 }

.text p {
    margin: 00.5rem 1rem;
 }

 .form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background:#fff;
    padding: 20px;
    border-radius: 0.5rem;

 }

 .input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
 }

 .input-box input {
    padding: 7px; 
    outline: none; 
    border: none; 
    background:#eeeff1; 
    border-radius: 0.5rem; 
    font-size: 1rem;
 }
 .form-container form .btn {
   flex: 1 1 7rem;
   padding: 10px 34px;
   border: none;
   border-radius: 0.5rem;
   background: #474fa0;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
 }

 .form-container form .btn:hover {
   background: var(--main-color);
 }

 .services-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(800px, 800px));
   gap: 1rem;
   margin-top: 2rem;
   justify-content: end;
   
}
.services h2 {
   font-size: 2rem;
   color: var(--main-color); 
   margin-bottom: 1rem;
   text-align: center; 
}
.box {
   border: 1px solid #ddd; 
   padding: 10px; 
   margin: 10px;  
   border-radius: 1rem; 
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
 }
 .box img {
   width: 100%; 
   height: 100%; 
   border-radius: 1rem; 
   padding: 8px; 
   object-fit: cover;
   object-position: center;
   margin-bottom: 10px;
 }
 .paginacion {
   display: flex;
   list-style: none; 
   padding: 0;
   justify-content: center;
 }
 .paginacion li {
   margin: 0 5px; 
   cursor: pointer; 
 }
.popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 
 .popup-table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 10px;
 }
 
 .popup th, .popup td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
 }

 .popup img {
   width: 200px;
   height: auto;
   display: block;
   margin: 0 auto;
   margin-bottom: 10px; 
 }
 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
 
