body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    background-color:#fff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form__title {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group__input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-form__button {
    width: 100%;
    padding: 10px;
    background-color: #5DADE2 ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form__button:hover {
    background-color: #58D68D ;
}